.nav {
    grid-area: nav;
    padding: 40px;
}

.item a{
    color: orange;
    text-decoration: none;
    font-size: 25px;
    padding-left: 80px;
   }
.active {
    color: orangered;
}

.item:last-child {
    padding-top: 30px;
}