.app-wrapper {
  margin: 0 auto;
  width: 1200px;
  display: grid;
  grid-template-areas:
  'header header'
  'nav content';
  grid-template-rows: 60px 1fr;
  grid-auto-columns: 3fr 7fr;
  grid-gap: 5px;
}

.app-wrapper-content {
  background-color: #61dafb;
  grid-area: content;
  }
/*.ava_person {*/
/*  width: 50px;*/
